<header id="cabecera" class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg header">
    
      <a class="navbar-brand text-light font-weight-bold" href="http://www.paquenoteaburras.com/"><img class="logo" src="/images/logoLetrasVerdes.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon ion-md-menu lead text-light"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Muñecas</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Autos</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Para armar</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">De mesa</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Contactenos</a>
        </li>              
        <li class="nav-item">
          <a class="nav-link text-light btn btn-primary py-1" href="#">Inicia sesión</a>
        </li>
      </ul>
    </div>
    
    <!--caja de redes sociales-->
    <div class="redes">
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> </a>|
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> </a>|
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    </div>
    
    </nav>
    <!--carrito--> 
    <div class="carrito">
      <a href="../carrito.ejs"><i class="fas fa-shopping-basket"></i></i></a>
    </div>
    <!--buscador-->
    <div class="buscador col-10">
    <form action=" ">
      <input type="text " placeholder="Buscar productos">
      <button><i class="fas fa-search "></i></button>
    </form>            
    </div>
  </div>   
</header>