<header id="cabecera" class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg header">
    
      <a class="navbar-brand text-light font-weight-bold" href="/"><img class="logo" src="/images/logos/logoLetrasVerdes.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon ion-md-menu lead text-light"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Muñecas</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Vehículos</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Juegos de Ingenio</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Muñecos de acción</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Juegos de mesa</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link text-light" href="#">Contáctenos</a>
        </li>              
        <li class="nav-item">
          <a class="nav-link text-light btn btn-primary py-1" href="/registro">Inicia sesión</a>
        </li>
      </ul>
    </div>
    
    <!--caja de redes sociales-->
    <div class="redes">
      <a href="https://www.facebook.com/Pa-que-no-te-aburras-110244777466800/?modal=admin_todo_tour"><i class="fab fa-facebook-f"></i> </a>|
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> </a>|
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    </div>
    
    </nav>
    <!--carrito--> 
    <div class="carrito">
      <a href="/carrito"><i class="fas fa-shopping-basket"></i></i></a>
    </div>
    <!--buscador-->
    <div class="buscador col-10">
    <form action="/search" method="GET" class="search-form">
      <input type="text " name="search" placeholder="Buscar productos" class="search-form_input">
      <button type="submit" class="search-form_button"><i class="fas fa-search "></i></button>
    </form>            
    </div>
  </div>   
</header>