<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Carga</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/stylesheets/stylefp.css">
</head>

<body>

<h2>Formulario de Carga de Productos</h2>
<p>No olvidarse de verificar los datos a cargar!!</p>
<div class="formulario">
  <div class="datosProducto">
    <div class="formProd">
      <form action="" method="post" enctype="multipart/form-data">
  
        <div class="formulario">
          <div class="carga">
            <h3>Carga de producto</h3>

            <label for="nombre"> Nombre del Producto: </label>
            <input type="text" id="nombre" name="nombre" placeholder="Cry Baby">

            <label for="proveedor"> Proveedor: </label>
            <input type="text" id="proveedor" name="proveedor" placeholder="Lego">

            <label for="codigo"> Código: </label>
            <input type="text" id="codigo" name="codigo" placeholder="cb456">

            <label for="color"> Color: </label>
            <input type="text" id="color" name="color" placeholder="rojo">

            <label for="cantidad"> Cantidad: </label>
            <input type="text" id="cantidad" name="cantidad" placeholder="123">
            
            <label for="peso"> Peso: </label>
            <input type="text" id="peso" name="peso" placeholder="kg/gs">

          </div>          
        </div>
        <!--Carga de imagen del producto-->
        <div class="photo">
          <label for="foto">Foto: </label>
          <div class="prevPhoto">
              <span class="imagen"><img src="../public/images/autoCarreras.png" alt=""></span>
              <label for="foto"></label>
          </div>
          <div class="uping">
              <input type="file" name="foto" id="foto">
          </div>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Producto cargado correctamente.
        </label>
        <input type="submit" value="Finalizar carga del producto" class="btn">
      </form>
    </div>
  </div>
  
</div>

</body>
</html>