<!DOCTYPE html>
<html lang="es">
<<<<<<<< HEAD:sitepqn/views/productos.ejs
<%- include('partials/head') %> 
<link rel="stylesheet" href="/stylesheets/styleDetalleProducto.css">
========
<head>
  <!--
    ETIQUETAS META PARA CONFIGURAR
  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pa' que no te aburras Detalle de Productos</title>
  <!-- ETIQUETAS LINK PARA VINCULAR CON FONTAWESOME Y BOOTSTRAP-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
  <!--<link rel="stylesheet" href="https://kit.fontawesome.com/cedf9d4572.js" crossorigin="anonymous">
  -->  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="../public/stylesheets/styleDetalleProducto.css">
  
</head>
>>>>>>>> 7b84992829ecb9eb1112ce7791ff56991d83e87b:sitepqn/views/productos.html
<body>
 <!--PARA FIJAR EL HEADER AGREGAR fixed-top ENTRE LOS NAVBAR-->
  <!--HEADER: CABECERA Y MENÚ DE NAVEGACIÓN-->
  <%- include('partials/header') %>
   
   <!--CUERPO DE LA PAGINA DE PRODUCTOS-->
  
  <main class="container-fluid">
    
    <div class="row">
      
      
    </div>
    
    <!--Comienza la tarjeta de productos PiniPoyDelivery-->
    
    <div id="h1" class="column">
      <h2 style="text-align:center">Muñecos</h2>
      
      <div class="card">
        <img src="/images/PiniPoyDelivery.png" alt="PiniPoyDelivery" style="width:100%">
        <h1>PinyPon Delivery</h1>
        <p class="price">$919.99</p>
        <p> Soy un detalle, descripción del producto .... Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis et nisi? Sapiente?</p>
        <p><button class="Add to Cart">Agregar al Carrito</button></p>
        <p><button class="comprarAhora">Comprar ahora</button></p>
      </div>
    </div>
  
    
    
    <!--VISTA DE PRODUCTOS SELECCIONABLES PinyPon-->
    
  <div  id="h2" class="column">
    
    <div class="w3-container">
      <h3> PinyPon Delivery.</h3>
      <p>Lorem, ipsum amor. :</p>
    </div>
    
       <div class="w3-row-padding">
      
      <div class="w3-col s3 w3-container">
        <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('PinyPon');">
          <img src="/images/PiniPoyDelivery.png" alt="PiniPoyDelivery.png" style="width:100%">
        </a>
      </div>
      <div class="w3-col s3 w3-container">
        <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('PinyPon2');">
          <img src="/images/PiniPoyDelivery2.png"alt="PiniPoyDelivery2" style="width:100%">
        </a>
      </div>
      <div class="w3-col s3 w3-container">
        <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('PinyPonCaja');">
          <img src="/images/PinyPonDEliveryCaja.png" alt="PinyPonDEliveryCaja" style="width:100%">
        </a>
      </div>
      
    </div>
  </div>
    <br>
    <!--Raiting de Productos-->
    <div id="lineUnderProduct" class="container">
      <div class="row ">
        <div id="itemsunderline" class="rating">
          <h6>Rating </h6>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <!--Fin de Raiting de productos ... estrellitas-->
        <!--Agregar a los me gusta-->
        <div id="itemsunderline"class="likes">
          <h6>Like</h6>
          <i class="fas fa-heart"></i>
        </div>
        <!--Fin de agregar me gusta-->

        <!--Boton de cantidad-->
        
        <div id="itemsunderline"class="addtobasketqty">
          <h6 class="detailquantitytext" >Cantidad</h6>
         
          <a class="detailquantityminus" href="javascript:qty_minus('qtyPlusMinus30000', 1)"> - </a>
          <input type="text" class="inputitem_productqty" id="qtyPlusMinus30000" name="qty" value="1" size="1" >
          <a class="detailquantityplus" href="javascript:qty_plus('qtyPlusMinus30000', 2707)"> +   <i class="fas fa-shopping-basket"></i> </a>
        </div>   
        
        <!--Fin de boton de cantidad-->

        
        <!--Relacionar con el carrito y los envíos-->
        <div id="itemsunderline"class="enviosProduct">
          <h6>Envíos</h6>
          <i id="truck" class="fas fa-truck"></i>
        </div>
      </div>
    </div>
    <!--Imagenes que se expanden-->
    <div class="imgsalen">
      <div id="PinyPon" class="picture w3-display-container" style="display:none">
        <img src="/images/PiniPoyDelivery.png" alt="PinyPon" style="width:100%">
        <span onclick="this.parentElement.style.display='none'" 
        class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
        <div class="w3-display-bottomleft w3-container w3-padding w3-text-white">PinyPon Delivery</div>
      </div>
      
      <div id="PinyPon2" class="picture w3-display-container" style="display:none">
        <img src="/images/PiniPoyDelivery2.png" alt="PinyPon2" style="width:100%">
        <span onclick="this.parentElement.style.display='none'" 
        class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
        <div class="w3-display-bottomleft w3-container w3-padding w3-text-white">PinyPon Delivery</div>
      </div>
      
      <div id="PinyPonCaja" class="picture w3-display-container" style="display:none">
        <img src="/images/PinyPonDEliveryCaja.png" alt="PinyPonDEliveryCaja" style="width:100%">
        <span onclick="this.parentElement.style.display='none'" 
        class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
        <div class="w3-display-bottomleft w3-container w3-padding w3-text-white">PinyPon Delivery</div>
      </div>
    </div>
    <!--Fin de imagenes que se expanden-->
    <script>
      function openImg(imgName) {
        var i, x;
        x = document.getElementsByClassName("picture");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        document.getElementById(imgName).style.display = "block";
      }
    </script>
  </div>
  <!--Fin de la VISTA DE PRODUCTOS SELECCIONABLES PinyPon-->
  <br>
  <!--Compartí en Facebook y Whatssap-->
  <div id="FsyWtsp" class="container">
    <form action="">
      <div id="FsyWtsp" class="row-md">
        
        <div id="FsyWtsp" class="col">
          <a href="#" class="fb btn" style="background-color: #3B5998;color: white;">
            <i class="fa fa-facebook fa-fw"></i> Comparte en Facebook
          </a>
        </div>
        
        <div id="FsyWtsp" class="col">
          <a href="#" class="btn" style="background-color: #3aac5d;color: white;">
            <i id="verde" style="color: white;" class="fa fa-whatsapp fa-fw " ></i> Comparte en Whatsapp
          </a>
        </div>
      </div>
      
      
    </form>
  </div>
</div>
  <!--Fin de compartí en Facebook y Whatssap-->
  
  
  
  <!--Fromularios desplegables-->
  <!--Primer colapsable-->
  <div id="h3" class="column">
  <div class="product-view-cms-container">
    <button class="collapsible">
      <h6><strong>Experiencia Pa' que no te aburras</strong></h6><p><span></span></p></button>
      <div class="content">
        <p><span style="font-size: medium;">Asesoramiento profesional para que elijas, compres y disfrutes nuestros productos. Podes comunicarte a través de Facebook Messenger, por email, teléfono o hacer preguntas sobre le producto del cual tenés dudas y te responderemos a todas tus consultas.</span></p>
      </div>
    </div>
    
    <!--Segundo colapsable-->
    
    <div class="product-view-cms-container">
      
      <button class="collapsible"><h6><strong>Descripción</strong></h6><p><span></span></p></button>
      <div class="content">
        <p><span style="font-size: medium;"> <strong> Juguete -Pinypon Moto Delivery de Pizzas.</strong>
          
          ¡Llevá los pedidos a domicilio de la Pizzería Pinypon!
          
          Tiene un compartimento trasero para llevar las pizzas a los clientes y que lleguen bien calentitas.
          
          Incluye moto, la figura de Dana, una de las protagonistas de la linea teen, 3 pizzas, 3 cajas, accesorios y adhesivas.
          Las mini muñecas/os son ideales para niñas y niños por ser intercambiables; se puede intercambiar la ropa, su pelo y sus complementos.
          Edad recomendada a partir de 4 años.
          
          Famosa
        </span></p>
      </div>
    </div>
    
    <!--Tercer colapsable-->
    
    <div class="product-view-cms-container">
      <button class="collapsible">
        <h6><strong> Nosotros </strong></h6><p></p><span></span></p></button>
        <div class="content">
          <p><span style="font-size: medium"> Buscamos brindar las herramientas necesarias para que los niños y niñas <em> construyan abiertamente sus espacios de juegos y desarrollen el lado más creativo de su pensamiento</em>. Por eso, rescatamos el espíritu curioso presente en todas las infancias, y lo potenciamos a través de juegos que alimentan sus ganas de crear.
            Conocé todos nuestros proyectos en <strong>Pa' que no te aburras<img style="vertical-align: middle;" src="/images/android-icon-36x36.png" width="40" height="40"></strong>.
          </span></p>
        </div>
      </div>
      <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
      </script>
      </div>
      <!--Paginación de las vistas de productos-->      
      <div class="w3-bar">
        <a href="#" class="w3-button">«</a>
        <a href="#" class="w3-button w3-green">1</a>
        <a href="#" class="w3-button">2</a>
        <a href="#" class="w3-button">3</a>
        <a href="#" class="w3-button">4</a>
        <a href="#" class="w3-button">»</a>
      </div>
      <!- Fin de -Paginación de las vistas de productos-->   
    </div>      
  </main>
    <!--FOOTER: PIE DE PAGINA-->
    <%- include('partials/footer') %>
<!--FINALIZA FOOTER: PIE DE PAGINA-->
</div>

    <!--scripts de bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
    
</body>
</html>