<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/errror.css">
    <title>Ningún resultado válido</title>
</head>
<body>
    <main class="full-screen-main can-zoom">
        <div id="viewer-img">
            <h6>Clickeá  <a href="#" class="myButton">aquí</a> para volver a la página principal</h6>
          <img src="/images/fondos/21_404-error.png" alt="21 404 error" class="">

        </div>    
     
      </main>
</body>
</html>