<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/style.css">

<body>
  <%- include('partials/header') %>
    <div class="about-section">
        <h1>Acerca de nuestra página</h1>
        <p>Pa' que no te aburras, Market Place de Juguetes y algo más. </p>
        <p>Apuntamos a la innovación creando espacios  de  venta digital  funcionales que potencien tanto el flujo de ventas, como la experiencia de compras.</p>
      </div>
      
      <h2 style="text-align:center">Nuestro equipo</h2>
      <div class="row">
        <div class="column">
          <div class="card ">
          
            <img src="/images/nosotros/Caro.jpeg" alt="Caro" class="avatar">
            <div class="container w3-container w3-indigo">
              <h2>Carolina Barila</h2>
              <p class="title">Desarroladora Web Full Stack</p>
              <p>Estudiante de Ingeniería Industrial, Profesora de Yoga</p>
              <p>carolinabarila@hotmail.com</p>
               <a href="github.com/CaroBarila"><button class="button"> github.com/CaroBarila</button> </a> 
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/nosotros/Jeremias.jpeg" alt="Jere" class="avatar" >
            <div class="container w3-container w3-blue-grey">
              <h2>Jeremías Castillo</h2>
              <p class="title">Desarrollador Web Full Stack</p>
              <p>Estudiante de Licenciatura en Sistemas, inglés intermedio</p>
              <p>jerecastillo25@gmail.com</p>
              <a href="github.com/JeremiasCastillo25"><button class="button"> github.com/JeremiasCastillo25</button> </a> 
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/nosotros/Matias.jpg" alt="Mati" class="avatar">
            <div class="container w3-container w3-teal">
              <h2>Matías López</h2>
              <p class="title">Desarrollador Web Full Stack</p>
              <p>Estudiante de Analista de Sistemas</p>
              <p>sebastos23@gmail.com</p>
              <a href="github.com/sebastos23"><button class="button">  github.com/sebastos23 </button> </a> 
            </div>
          </div>
        </div>
      </div>

  




</body>
</html>