<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/stylefp.css">

<body id="carga">
  <%- include('partials/header') %>

<h2>Formulario de Carga de Productos</h2>

<div class="formulario">
  <div class="datosProducto">
    <div class="formProd">
      <form action="" method="POST" enctype="multipart/form-data">
  
        <div class="formulario">
          <div class="carga">
            <h3>Carga de producto</h3>

            <label for="id"> id: </label>
            <input type="text" id="id" name="id" placeholder="10">

            <label for="codigo"> sku: </label>
            <input type="text" id="codigo" name="codigo" placeholder="123456">
            
            <label for="nombre"> Nombre del Producto: </label>
            <input type="text" id="nombre" name="nombre" placeholder="Cry Baby">

            <label for="precio"> Precio: </label>
            <input type="text" id="precio" name="precio" placeholder="1000.00">

            <label for="categoria"> Categoría: </label>
            <input type="text" id="categoria" name="categoria" placeholder="muñecas">

            <label for="subCategoria"> Sub-Categoría: </label>
            <input type="text" id="subCategoria" name="subCategoria" placeholder="autos">

            <label for="seccion"> Seccion: </label>
            <input type="text" id="seccion" name="seccion" placeholder="ofertas">           
            
            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="description"></textarea>
        
          </div>          
        </div>
        <!--Carga de imagen del producto-->
        <div class="photo">
          <label for="foto">Foto: </label>
          <div class="prevPhoto">
              <span class="imagen"><img src="/public/images/autoCarreras.png" alt=""></span>
              <label for="foto"></label>
          </div>
          <div class="uping">
              <input type="file" name="foto" id="foto">
          </div>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Producto cargado correctamente.
        </label>
        <input type="submit" value="Finalizar carga del producto" class="btn">
      </form>
    </div>
  </div>
  
</div>

<%- include('partials/footer') %>
</body>
</html>