<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Register and login</title>
  <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/registro.css">
</head>
<body>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  
  <header id="cabecera" class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg header">
      
        <a class="navbar-brand text-light font-weight-bold" href="http://www.paquenoteaburras.com/"><img class="logo" src="../public/images/logoLetrasVerdes.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon ion-md-menu lead text-light"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-2">
            <a class="nav-link text-light" href="#">Muñecas</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link text-light" href="#">Autos</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link text-light" href="#">Para armar</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link text-light" href="#">De mesa</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link text-light" href="#">Contactenos</a>
          </li>              
          <li class="nav-item">
            <a class="nav-link text-light btn btn-primary py-1" href="#">Inicia sesión</a>
          </li>
        </ul>
      </div>
      
      <!--caja de redes sociales-->
      <div class="redes">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> </a>|
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> </a>|
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      </div>
      
      </nav>
      <!--carrito--> 
      <div class="carrito">
        <a href="#"><i class="fas fa-shopping-basket"></i></i></a>
      </div>
      <!--buscador-->
      <div class="buscador col-10">
      <form action=" ">
        <input type="text " placeholder="Buscar productos">
        <button><i class="fas fa-search "></i></button>
      </form>            
      </div>
    </div>   
  </header>
    

  <section id="jere"> 
    <div class="continer">
      <div class="user signinBx">
        <div class="imgBx"><img src="../public/images/logoVerde.png"></div>
        <div class="formBx">
          <form>
            <h2>Logueate</h2>
            <div class="social-media">
             <button class="face" ><a href="#"><i class="facebook"></i>Facebook</a></button>
             <button class="google"><a href="#"><i class="google"></i>Google</a></button>
            </div>
            <input type="text" name="" placeholder="Nombre de Usuario">
            <input type="password" name="" placeholder="Contraseña">
            <input type="submit" name="" value="login">
            <p class="signup">¿No tienes una cuenta?<a href="#" onclick="toggleForm();" >Crear Cuenta</a></p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form>
            <h2>Crea una Cuenta</h2>
            <input type="text" name="" placeholder="Nombre de Usuario">
            <input type="email" name="" placeholder="Email">
            <input type="password" name="" placeholder="Crear Contraseña">
            <input type="password" name="" placeholder="Confirmar Contraseña">
            <input type="submit" name="" value="Sign Up">
            <p class="sign in">¿Ya tienes una cuenta?<a href="#" onclick="toggleForm();">logueate</a></p>
          </form>
        </div>
        <div class="imgBx"><img src="../public/images/logoRojo.png"></div>
      </div>
    </div>
  </section>
 
  
  <!--FOOTER: PIE DE PAGINA-->
  <footer class="container-fluid">
    <!--caja con el contenido principal de footer-->
    <!--Contenido de la fila superior en lg-->
    
    <div id="fnewsleter" class="row footer">
      <!--Newsleter-->
      <section class="col-12 col-lg-4">
        <div >
          <div class="contenido1">
            <article>
              
              <h4>Suscribite a nuestro Newsletter</h4>
              <i class="fab fa-optin-monster"></i>
              <div class="input-group">
                <input type="text" class="form-control border border-success" id="txtSuscribe" name="67041" placeholder="Dirección de Email" autocorrect= "off" autocapitalize="off">
                <div id="caro"  class="input-group-append">
                  <input type="submit" class="btn btn-primary btn-block border border-primary" value="Suscribite">
                </div>
              </div>
              <p> Suscribiéndote ahora, obtené un -15% en tu primer compra.
              </p>
            </article>
          </div>
        </div>
      </section>
      
      <!--contiene datos de local-->
      
      <div class="col-12 col-lg-4">
        <section>
          <div class="contenido2">
            <article class="adressFooter">
              <h4>Nuestra tienda cerca tuyo</h4>
              <div class="container">
                <div class="row row-cols-2">
                  <div class="col"><i class="fas fa-map-marker-alt"></i></div>
                  <div class="col"><i class="fas fa-clock"></i></div>
                  <div class="col"><i class="fas fa-phone-square-alt"></i></div>
                  <div class="col"><i class="fas fa-envelope-square"></i></div>
                </div>
              </div>
              <p>Juguetes para Imaginar Construir Explorar Aprender Crear</p>
            </article>
            
          </div>
        </section>
      </div>
      
      
      <!--contiene Voucher de Regalo-->
      
      
      <div class="col-12 col-lg-4">
        <section>
          <div class="contenido3">
            <article>
              <h4>Sorprendé con un Voucher de Regalo desde $ 1.999</h4>
              <br>
              <i class="fas fa-gift "></i>
              <br>
              <p>Por estar registrado tenés un beneficio de Pa'QNTA Puntos.
              </p>
            </article>
          </div>
        </section>
      </div>
      
    </div>
    <!--finaliza la fila superior del lg-->
    
    <!--Contenido de la fila inferior en lg-->
    <div id="fredes" class="row footer">
      
      <!--contiene contacto en redes-->
      <div class="col-12 col-lg-4">
        <div class="contenido4">
          <article> 
            <h4>Seguinos</h4>
            <div class="redes col-12">
              <i id="socialmedia" class="fas fa-camera-retro"></i>
              <i id="socialmedia"class="fab fa-twitter-square"></i>
              <i id="socialmedia"class="fab fa-facebook"></i>
              <i id="socialmedia"class="fab fa-whatsapp-square"></i>
            </div>
            
            <p> Hacéte Fan: oportunidades, novedades y más.
            </p>
          </article>
        </div>
      </div>
      
      <!--Contiene sección de envios-->
      <div class="col-12 col-lg-4">
        <div class="contenido5">
          <article>
            <h4>Recibilo en Casa</h4>  
            <div class="truck col-12">   
              <i id="truck" class="fas fa-truck"></i>
              <i id="truck"class="fas fa-shipping-fast"></i>
              <i id="truck" class="fab fa-shopify"></i>
            </div>
            <p> Click & Collect y Delivery, entregas normalizadas.
            </p>
          </article>
        </div>
      </div>
      
      <!--contiene pago con tarjeta-->
      <div class="col-12 col-lg-4">
        <article>
          <h4> Tarjeta o efectivo</h4>
          <div class="pagos col-12">
            <i id="money" class="fab fa-cc-visa"></i>
            <i id="money"class="fab fa-cc-mastercard"></i>
            <i id="money"class="far fa-money-bill-alt"></i>
            
          </div>
          <p> Tenés hasta 6 cuotas sin interés con tarjeta.
          </p>
        </article>
      </section>
    </div>
  </div>
  
    <!--contiene copyright y link a GitHub-->
  <div class="col-12">
    <span class="copyright desarrolladores">© 2020 Pa' que no te aburras.<a href="https://github.com/sebastos23/grupo_8_paQueNoTeAburras">| Programadores Web Full Stack |</a></span>
      </div>
</div>
<!--finaliza div.row-->
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
  <script type="text/javascript">
    function toggleForm(){
      var container = document.querySelector('.continer');
      container.classList.toggle('active')
    }
    </script>
</body>
</html>
