<!DOCTYPE html>
<html lang="en">
  
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/registro.css">

<body>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  
    <%- include('partials/header') %>
    

  <section id="jere"> 
    <div class="continer">
      <div class="user signinBx">
        <div class="imgBx"><img src="/images/logos/logoVerde.png"></div>
        <div class="formBx">
          <form>
            <h2>Logueate</h2>
            <div class="social-media">
             <button class="face" ><a href="#"><i class="facebook"></i>Facebook</a></button>
             <button class="google"><a href="#"><i class="google"></i>Google</a></button>
            </div>
            <input type="text" name="" placeholder="Nombre de Usuario">
            <input type="password" name="" placeholder="Contraseña">
            <input type="submit" name="" value="login">
            <p class="signup">¿No tienes una cuenta?<a href="#" onclick="toggleForm();" >Crear Cuenta</a></p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form>
            <h2>Crea una Cuenta</h2>
            <input type="text" name="" placeholder="Nombre de Usuario">
            <input type="email" name="" placeholder="Email">
            <input type="password" name="" placeholder="Crear Contraseña">
            <input type="password" name="" placeholder="Confirmar Contraseña">
            <input type="submit" name="" value="Sign Up">
            <p class="sign in">¿Ya tienes una cuenta?<a href="#" onclick="toggleForm();">logueate</a></p>
          </form>
        </div>
        <div class="imgBx"><img src="/images/logos/logoRojo.png"></div>
      </div>
    </div>
  </section>
 
  
  <!--FOOTER: PIE DE PAGINA-->
  <%- include('partials/footer') %>

  <!--SCRIPT DE BOOTSTRAP-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
  <script type="text/javascript">
    function toggleForm(){
      var container = document.querySelector('.continer');
      container.classList.toggle('active')
    }
    </script>
</body>
</html>
