/*VARIABLES*/
:root {
    --dark: #14171d;
    --dark-x: #1d2027;
    --color-rojo: #ea0112;
    --color-borgoña: #ab0112;
    --color-verdeManzana: #73c026;
    --color-naranjaOscuro: #de3f19;
    --color-violeta: #55068e;
    --color-celeste: #00a0ee;
    --color-naranjaClaro: #e88102;
    --color-verde: #3aac5d;
    --color-azul: #282083;
    --color-beige: #b49759;
}
*{
    box-sizing: border-box;
    margin: 0 auto;
    list-style: none;
}

/*HEADER*/
#cabecera .logo{
    height: 150px;
}
.redes i{
    color: white;
    font-size: x-large;
    margin: 5px;
}
.redes a :hover{
    color:blue;
}
.buscador{  
    background-color: white;
    border: 1px solid var(--color-verde);
    border-radius: 5px;
    padding: 0px 8px; 
}
.buscador form input {
    background: none;
    border: 0;
    width: 85%;
    margin: 5px 25px;
    padding-right: 0px;
    border-right: 2px solid var(--color-verde);
  }
 .buscador form input:focus,
  form button:focus {
      outline: none;
  }
  
 .buscador form button {
      background: none;
      border: 0;
      border: var(--color-verde);
      color: var(--color-verde);
      padding: 0;
      padding-left: 0px;
  }

html, body {
    height: 100%;
}

#cabecera {
    background-image: url(../images/fondos/Arreglo\ y\ creació\ musical.png) !important;
}

.navbar {
    min-height: 5rem;
}
.carrito i{
    color: white;
    font-size: x-large;
    margin: 5px;
}
/*CUERPO*/
.cuerpo .cuerpo{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    background-image: url(../images/fondos/fondoPaisaje.jpg);
    background-size: 100%;
}
.cuerpo h3{
    font-size: large;
    font-weight: bold;
    font-style: normal;    
}
.cuerpo h5{
    font-weight: bold;
    font-style: normal;
}
.cuerpo p{
    margin-bottom: 0rem;
    font-weight: 800;
}
  /*METODOS*/
.metodos .botones{
    border-top: solid 1px blue
}
.metodos .direccion{
    border-top: solid 1px blue
}
.metodos .direccion .dir{
    text-align: right;
}
.metodos .datos{
    border-top: solid 1px blue;
}
.metodos .datos label{
    margin-bottom: -0.5rem
}
.metodos .botones ul li{
    display: inline;
}
.cuerpo form input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


  /*PRODUCTOS*/
.cuerpo .seleccion{
    border-top: 1px solid blue;
  }
.prod{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px blue;
}
.prod a{
    width: 25%;
    margin-right: 10px;
}
.prod img{
    width: 100%;
}
.prod .detalle{
    font-family: roboto;
    
    text-align: left;
}
.prod .precio {
    text-align: right;
}
.subtotal{
    display: flex;
}
.totales{
    text-align: right;
}
  /*PAGO*/
.tarjeta{
    border: solid 1px blue;
}
.tarjeta .elegir{
    display: flex;
    justify-content: space-around;
}
.tarjeta .elegir ul li{
   display: inline;
}
.tarjeta .elegir ul li i{
    font-size: xx-large;
    color: blue;
 }
.tarjeta .datos{
    display: flex;
    justify-content: space-around;
}

.cuerpo button{
    
    border: solid 1px blue;
}

/*
FOOTER
*/

.footer {
    padding: 20px;
    background-color: var(--color-verdeManzana);
}
.footer article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.footer article i{
    font-size: 35px; 
    color: var(--color-celeste);
    margin: 10px 0;
}

.footer article h4,
.footer article p, .footer article span{
    color: var(--color-azul);
    margin: 5px 0;
}
/*Redes sociales*/
.redes{
    display: flex;
    flex-wrap: wrap;
justify-content: space-around;
}

#socialmedia{
    width: 25%;
}
/*Fin de redes sociales*/
/*Formulario de suscripción*/
form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
    
}
input, button, select, optgroup, textarea {
    margin: 0;
    margin-bottom: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*fin del formulario de suscripción*/


/*Medios de Pago*/
.pagos{
    display: flex;
    flex-wrap: wrap;
justify-content: space-around;
}
#money{
    width: 25%;
}
/*Fin medios de pago*/

/*Tienda*/
.adressFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Envíos*/
.envios{
    display: flex;
    flex-wrap: wrap;
justify-content: space-around;
}

#truck{
    width: 25%;
}
#entregas{
    width: 30%;
}
/*Pie de pagina, final del foother*/
.copyright, .desarrolladores {
   
    display: flex;
    flex-wrap: wrap;
    font-size: xx-small;
    text-align: center;
    align-items: center;
    align-content: space-around;
    background-image: linear-gradient(to top left, var(--color-celeste), var(--color-azul))!important;
    padding: 10px 10px;
    color: var(--color-celeste);
    border-radius: 15px 5px 15px ;
}

.desarrolladores a{
    color: var(--color-celeste);
}
/*
FIN DEL FOOTER
*/
@media (max-width: 1024px) {
    .display-1 {
        font-size: 3rem;
    }
    .buscador form input{
     margin: 5px 30px;
     }
    
 }
 
 @media (max-width: 768px) {
     #banner-content {
         padding-top: 5rem;
         padding-bottom: 5rem;
         text-align: center;
     }
     #banner-container {
         height: unset;
     }
     #banner-background {
         height: 100%;
     }
     .separador{
         display: none;
     }
     .buscador form input{
         margin: 5px 25px;
     }
     
 }
 
 @media (max-width: 575.98px) { 
     .btn {
         width: 100%;
     }
     .spin {
         max-width: 260px;
     }
     .buscador form input{
         margin: 5px 5px;
     }
  }
  @media (min-width: 1024px){
  .buscador form input{
     margin: 5px 20px;
     width: 92%;
  }
 }