@import "styleCompiler.css";

/*CUERPO*/
.cuerpo .cuerpo{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    background-image: url(../images/fondos/fondoPaisaje.jpg);
    background-size: 100%;
}
.cuerpo h3{
    font-size: large;
    font-weight: bold;
    font-style: normal;    
}
.cuerpo h5{
    font-weight: bold;
    font-style: normal;
}
.cuerpo p{
    margin-bottom: 0rem;
    font-weight: 800;
}
  /*METODOS*/
.metodos .botones{
    border-top: solid 1px blue
}
.metodos .direccion{
    border-top: solid 1px blue
}
.metodos .direccion .dir{
    text-align: right;
}
.metodos .datos{
    border-top: solid 1px blue;
}
.metodos .datos label{
    margin-bottom: -0.5rem
}
.metodos .botones ul li{
    display: inline;
}
.cuerpo form input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


  /*PRODUCTOS*/
.cuerpo .seleccion{
    border-top: 1px solid blue;
  }
.prod{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px blue;
}
.prod a{
    width: 25%;
    margin-right: 10px;
}
.prod img{
    width: 100%;
}
.prod .detalle{
    font-family: roboto;
    
    text-align: left;
}
.prod .precio {
    text-align: right;
}
.subtotal{
    display: flex;
}
.totales{
    text-align: right;
}
  /*PAGO*/
.tarjeta{
    border: solid 1px blue;
}
.tarjeta .elegir{
    display: flex;
    justify-content: space-around;
}
.tarjeta .elegir ul li{
   display: inline;
}
.tarjeta .elegir ul li i{
    font-size: xx-large;
    color: blue;
 }
.tarjeta .datos{
    display: flex;
    justify-content: space-around;
}

.cuerpo button{
    
    border: solid 1px blue;
}

@media (max-width: 1024px) {
    .display-1 {
        font-size: 3rem;
    }
    .buscador form input{
     margin: 5px 30px;
     }
    
 }
 
 @media (max-width: 768px) {
     #banner-content {
         padding-top: 5rem;
         padding-bottom: 5rem;
         text-align: center;
     }
     #banner-container {
         height: unset;
     }
     #banner-background {
         height: 100%;
     }
     .separador{
         display: none;
     }
     .buscador form input{
         margin: 5px 25px;
     }
     
 }
 
 @media (max-width: 575.98px) { 
     .btn {
         width: 100%;
     }
     .spin {
         max-width: 260px;
     }
     .buscador form input{
         margin: 5px 5px;
     }
  }
  @media (min-width: 1024px){
  .buscador form input{
     margin: 5px 20px;
     width: 92%;
  }
 }