/*
- VARIABLES
*/
:root {
    --dark: #14171d;
    --dark-x: #1d2027;
    --color-rojo: #ea0112;
    --color-borgoña: #ab0112;
    --color-verdeManzana: #73c026;
    --color-naranjaOscuro: #de3f19;
    --color-violeta: #55068e;
    --color-celeste: #00a0ee;
    --color-naranjaClaro: #e88102;
    --color-verde: #3aac5d;
    --color-azul: #282083;
    --color-beige: #b49759;
}
/*
- GENERAL
*/

*{
    box-sizing: border-box;
    margin: 0 auto;
    list-style: none;
}
/*HEADER*/

#cabecera .logo{
    height: 150px;
}
.redes i{
    color: white;
    font-size: x-large;
    margin: 5px;
}
.redes a :hover{
    color:blue;
}
.buscador{  
    background-color: white;
    border: 1px solid var(--color-verde);
    border-radius: 5px;
    padding: 0px 8px; 
}
.buscador form input {
    background: none;
    border: 0;
    width: 85%;
    margin: 5px 25px;
    padding-right: 0px;
    border-right: 2px solid var(--color-verde);
  }
 .buscador form input:focus,
  form button:focus {
      outline: none;
  }
  
 .buscador form button {
      background: none;
      border: 0;
      border: var(--color-verde);
      color: var(--color-verde);
      padding: 0;
      padding-left: 0px;
  }

html, body {
    height: 100%;
    background-color: #ebebeb;
}

#cabecera {
    
    background-image: url(../images/fondos/Arreglo\ y\ creació\ musical.png) !important;
}

.navbar {
    min-height: 5rem;
}
.carrito i{
    color: white;
    font-size: x-large;
    margin: 5px;
}


#navBarCat a{
    margin-right: 18px;
}

/*BOTONES*/
.myButtonAcept .myButtonDelete .myButtonDelete{
    box-sizing: border-box;
    margin: 0 auto;
}
.myButtonEdit {
	box-shadow: 0px 10px 14px -7px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ded17c;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
   
}
.myButtonEdit:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.myButtonEdit:active {
	position:relative;
	top:1px;
}



.myButtonAcept {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
   
    
}
.myButtonAcept:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButtonAcept:active {
	position:relative;
	top:1px;
}



.myButtonDelete {
	box-shadow: 0px 10px 14px -7px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    
}
.myButtonDelete:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.myButtonDelete:active {
	position:relative;
	top:1px;
}



.myButtonOk {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    
}
.myButtonOk:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButtonOk:active {
	position:relative;
	top:1px;
}

     
a #btnDelete{
    display: inline;
}
/*ocultar pass
.input-pass{  
    background-color: white;
    border: 1px solid var(--color-verde);
    border-radius: 5px;
    padding: 0px 8px; 
}
.input-pass input{
    background: none;
    border: 0;
    width: 20%;
    margin: 5px 25px;
    padding-right: 0px;
    border-right: 2px solid var(--color-verde);
  }
 .input-pass input:focus,
 
  button:focus {
      outline: none;
  }
  
 .input-pass button {
      background: none;
      border: 0;
      border: var(--color-verde);
      color: var(--color-verde);
      padding: 0;
      padding-left: 0px;
  }*/