@import "styleCompiler.css";

#jere {
  position: relative;
  min-height: 100vh;
  background: var(--color-verde);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
section .continer{
  position: relative;
  width: 800px;
  height: 500px;
  background: white;
  box-shadow: 0 15px 50px rgb(85, 6, 142);
  overflow: hidden;
}
section .continer .user{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
section .continer .social-media .face{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3em;
  border-radius: 10px;
  font-weight: bold;
  background: lightblue;
}
section .continer .social-media .face :hover{
background: rgba(0, 0, 0, 0.308);
}
section .continer .social-media .google{
padding: 10px;
width: 100%;
box-sizing: border-box;
border: none;
font-size: 1.3em;
border-radius: 10px;
font-weight: bold;
background: lightblue;
}
section .continer .social-media .google :hover{
background: rgba(0, 0, 0, 0.308);
}
section .continer .user .imgBx
{
  position: relative;
  width: 50%;
  height: 100%;
  background: #00a0ee;
  transition: 0.5s;
}
section .continer .user .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .continer .user .formBx
{
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}
section .continer .user .formBx form h2
{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: black;
}
section .continer .user .formBx form input
{
  position: relative;
  width: 100%;
  padding: 10px;
  background: silver;
  color: black;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .continer .user .formBx form input[type="submit"]
{
  max-width: 100px;
  background: #55068e;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}
section .continer .user .formBx form .signup
{
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}
section .continer .user .formBx form .signup a
{
  font-weight: 600;
  text-decoration: none;
  color: #55068e;
}
section .continer .signupBx
{
  pointer-events: none;
}
section .continer.active .signupBx
{
  pointer-events: initial;
}
section .continer .signupBx .formBx
{
 left: 100%;
}
section .continer.active .signupBx .formBx
{
 left: 0;
}
section .continer .signupBx .imgBx
{
  left: -100%;
}
section .continer.active .signupBx .imgBx
{
  left: 0;
}


section .continer .signinBx .formBx
{
 left: 0%;
}
section .continer.active .signinBx .formBx
{
 left: 0;
}
section .continer .signinBx .imgBx
{
  left: 0;
}
section .continer.active .signinBx .imgBx
{
  left: 100%;
}

#banner-text {
  opacity: 0;
  transition: 2s ease-in-out;
}



#faceygog{
  padding: .75rem 2rem;
}




@media (max-width: 1024px) {
  .display-1 {
      font-size: 3rem;
  }
  .buscador form input{
   margin: 5px 30px;
   }
  
}

@media (max-width: 768px) {
   #banner-content {
       padding-top: 5rem;
       padding-bottom: 5rem;
       text-align: center;
   }
   #banner-container {
       height: unset;
   }
   #banner-background {
       height: 100%;
   }
   .separador{
       display: none;
   }
   .buscador form input{
       margin: 5px 25px;
   }
   
}

@media (max-width: 575.98px) { 
   .faceygog {
       width: 100%;
   }
   .spin {
       max-width: 260px;
   }
   .buscador form input{
       margin: 5px 5px;
   }
}
@media (min-width: 1024px){
.buscador form input{
   margin: 5px 20px;
   width: 92%;
}
}
@media (max-width: 991px)
{
  section .continer
  {
    max-width: 400px;
  }
  section .continer .imgBx
  {
    display: none;
  }
  section .continer .user .formBx
  {
    width: 100%;
  }
}