@import "styleCompiler.css";
#descripcion{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#nombre{
    overflow: hidden;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
        color: #181e28;
        line-height: 50px;
        font-weight: 60;
        font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/*banner*/
 .index .banner{
    background-color: #282083;
}
 .index #banner-container {
    height: 600px;
}

.index #banner-background {
    background-color: #ab0112;
    position: absolute;
    width: 0;
    height: 600px;
    transition: 1s ease-in-out;
}

.index #banner-img {
    width: 100%;
    max-width: 450px;
    opacity: 0;
    z-index: 1000;
    transition: 2s ease-in-out;
}

.index .img-container {
    display: flex;
    justify-content: center;
    min-height: 600px;
    align-items: center;
}

.index #lines {
    opacity: 0;
    z-index: 999;
    transition: 1s ease-in-out;
}

.index .spin {
    width: 100%;
    max-width: 450px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.index .contenido img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 250px;    
}
/*PRODUCTOS*/
.index h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    text-decoration: underline white;
}
.index .productos{
    margin: 0;
    padding: 0;
}


.index .conteiner .productos .producto{
      color:blue;     
      text-align: center;      
  }
  
  .productos img {    
    height: 150px;
  }
  
  .index .productos h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .index .productos a {
    padding: 10px 0;
    color: var(--color-azul);
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }

  /*TARJETA DE PRODUCTO*/
  .productos .producto{
      background-color:white;
  }
img{
    max-width: 100%;
}

  .box-image {
    position: relative;
    border: 1px solid #bbbbbb;
    background: #EEE;
    border-radius: 5px 5px 5px 21px; 

  }
  .price-box {
    margin: 0 0 5px;
}
.vl {
  border-left: 5px solid #73c026;
  height: 420px;
}
  /*BANNER SEPARADOR*/
  
  .index .separador .cards-banner-one {
  width: 100%;
  height: 350px;
  background: url("../images/fondos/bloques.jpg");
  margin-bottom: 40px;
}

.index .separador .cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}
.index .separador .btn{
    color: white;
}

.index .cards-banner-one p,
.index .cards-banner-two p {
  margin: 10px 0 20px 0;
}
/*redes*/
.index .social {
    margin: 50px;
  }
  .index .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .index .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index .links a {
    margin: 0 30px;
  }
  
  .index .links a i {
    font-size: 3rem;
  }
  .index #banner-text {
    opacity: 0;
    transition: 2s ease-in-out;
}

.index .banner .btn {
    padding: .75rem 2rem;
}
 

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


@media (max-width: 1024px) {
   .display-1 {
       font-size: 3rem;
   }
   .buscador form input{
    margin: 5px 30px;
    }
   
}

@media (max-width: 768px) {
    .index #banner-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }
    .index #banner-container {
        height: unset;
    }
    .index #banner-background {
        height: 100%;
    }
    .index .separador{
        display: none;
    }
    .buscador form input{
        margin: 5px 25px;
    }
    
}

@media (max-width: 575.98px) { 
    .btn {
        width: 100%;
    }
    .index .spin {
        max-width: 260px;
    }
    .buscador form input{
        margin: 5px 5px;
    }
 }
 @media (min-width: 1024px){
 .buscador form input{
    margin: 5px 20px;
    width: 92%;
 }
}

#myBtnTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 99;
  font-size: 9px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  cursor: pointer;
  padding: 6px;
  border-radius: 45px;
}

#myBtnTop:hover {
  background-color: #55068e;;
  opacity: 65%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: greenyellow;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
