<footer class="container-fluid">
    <!--caja con el contenido principal de footer-->
    <!--Contenido de la fila superior en lg-->
    
    <div id="fnewsleter" class="row footer">
      <!--Newsleter-->
      <section class="col-12 col-lg-4">
        <div >
          <div class="contenido1">
            <article>
              
              <h4>Suscribite a nuestro Newsletter</h4>
              <i class="fab fa-optin-monster"></i>
              <div class="input-group">
                <input type="text" class="form-control border border-success" id="txtSuscribe" name="67041" placeholder="Dirección de Email" autocorrect= "off" autocapitalize="off">
                <div class="input-group-append">
                  <input type="submit" class="btn btn-primary btn-block border border-primary" value="Suscribite">
                </div>
              </div>
              <p> Suscribiéndote ahora, obtené un -15% en tu primer compra.
              </p>
            </article>
          </div>
        </div>
      </section>
      
      <!--contiene datos de local-->
      
      <div class="col-12 col-lg-4">
        <section>
          <div class="contenido2">
            <article class="adressFooter">
              <h4>Nuestra tienda cerca tuyo</h4>
              <div class="container">
                <div class="row row-cols-2">
                  <div class="col"><i class="fas fa-map-marker-alt"></i></div>
                  <div class="col"><i class="fas fa-clock"></i></div>
                  <div class="col"><i class="fas fa-phone-square-alt"></i></div>
                  <div class="col"><i class="fas fa-envelope-square"></i></div>
                </div>
              </div>
              <!--<ul >
                <li>
                  <p>Av. Pte Perón 536 - San Miguel</p>
                </li>
                <li>
                  <p>Lunes a sábado de 11 a 16:30 hs</p>
                </li>
                <li>
                  <p>54 11 6431 - 1698</p>
                </li>
                <li>
                  <p>info@paquenoteaburrasweb.com.ar</p>
                </li>
              </ul>-->
              
              <p>Juguetes para Imaginar Construir Explorar Aprender Crear</p>
            </article>
            
          </div>
        </section>
      </div>
      
      
      <!--contiene Voucher de Regalo-->
      
      
      <div class="col-12 col-lg-4">
        <section>
          <div class="contenido3">
            <article>
              <h4>Sorprendé con Voucher $ 1.999</h4>
              <br>
              <i class="fas fa-gift "></i>
              <br>
              <p>Por estar registrado tenés un beneficio de Pa'QNTA Puntos.
              </p>
            </article>
          </div>
        </section>
      </div>
      
    </div>
    <!--finaliza la fila superior del lg-->
    
    <!--Contenido de la fila inferior en lg-->
    <div id="fredes" class="row footer">
      
      <!--contiene contacto en redes-->
      <div class="col-12 col-lg-4">
        <div class="contenido4">
          <article> 
            <h4>Seguinos</h4>
            <div class="redes col-12">
              <i id="socialmedia" class="fas fa-camera-retro"></i>
              <i id="socialmedia"class="fab fa-twitter-square"></i>
              <i id="socialmedia"class="fab fa-facebook"></i>
              <i id="socialmedia"class="fab fa-whatsapp-square"></i>
            </div>
            
            <p> Hacéte Fan: oportunidades, novedades y más.
            </p>
          </article>
        </div>
      </div>
      
      <!--Contiene sección de envios-->
      <div class="col-12 col-lg-4">
        <div class="contenido5">
          <article>
            <h4>Recibilo en Casa</h4>  
            <div class="truck col-12">   
              <i id="truck" class="fas fa-truck"></i>
              <i id="truck"class="fas fa-shipping-fast"></i>
              <i id="truck" class="fab fa-shopify"></i>
            </div>
            <p> Click & Collect y Delivery, entregas normalizadas.
            </p>
          </article>
        </div>
      </div>
      
      <!--contiene pago con tarjeta-->
      <div class="col-12 col-lg-4">
        <article>
          <h4> Tarjeta o efectivo</h4>
          <div class="pagos col-12">
            <i id="money" class="fab fa-cc-visa"></i>
            <i id="money"class="fab fa-cc-mastercard"></i>
            <i id="money"class="far fa-money-bill-alt"></i>
            
          </div>
          <p> Tenés hasta 6 cuotas sin interés con tarjeta.
          </p>
        </article>
      </section>
    </div>
  </div>
  
    <!--contiene copyright y link a GitHub-->
  <div class="col-12">
    <span class="copyright desarrolladores">© 2020 Pa' que no te aburras.<a href="https://github.com/sebastos23/grupo_8_paQueNoTeAburras">| Programadores Web Full Stack |</a></span>
      </div>
  </div>
  <!--finaliza div.row-->
</footer>
</div>
 <!--scripts de bootstrap-->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
 <div class="tooltip">
  <span class="tooltiptext">Tooltip text</span>
</div>

<button onclick="topFunction()" id="myBtnTop" title="Ir arriba" > <img src="/images/icons/logoRosaIconoNavegador.png" alt="" > </button>

<script>
  //Get the button
  var mybutton = document.getElementById("myBtnTop");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>
  