<header id="cabecera" class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg header">
    
      <a class="navbar-brand text-light font-weight-bold" href="/"><img class="logo" src="/images/logos/logoLetrasVerdes.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon ion-md-menu lead text-light"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a id="navBarCat" class="nav-link text-light" href="/categories/5">Muñecas |</a>
        </li>
        <li class="nav-item mr-2">
          <a id="navBarCat" class="nav-link text-light" href="/categories/1">Vehículos | </a>
        </li>
        <li class="nav-item mr-2">
          <a id="navBarCat" class="nav-link text-light" href="/categories/4">De Ingenio |</a>
        </li>
        <li class="nav-item mr-2">
          <a id="navBarCat" class="nav-link text-light" href="/categories/3">De Acción |</a>
        </li>
        <li class="nav-item mr-2">
          <a id="navBarCat" class="nav-link text-light" href="/categories/2">De Mesa |</a>
        </li>
        <li class="nav-item mr-2">
          <% if (typeof usuario != "undefined" && usuario.rol=="admin") { %>
            <a id="navBarCat" class="nav-link text-light" href="/products/agregar">Agregar</a>
          <% } else{ %>
            <a id="navBarCat" class="nav-link text-light" href="#">Ayuda</a>

        <% } %>
          
        </li>              
        <li id="navBarCat" class="nav-item">
            <% if (typeof usuario == "undefined") { %>
                <a class="nav-link text-light btn btn-primary py-1" href="/registro">Iniciá sesión</a>
              <% } else{ %>
                <a class="nav-link text-light btn btn-primary py-1" href="/registro/logout">Cerrar Sesión</a>
            <% } %>
        </li>
      </ul>
    </div>
    <!--usuario -->
    <div>
      <% if (typeof usuario == "undefined") { %>
      
        <a href="/registro"><img src="/images/users/default.png" alt="" width="50px" height="50px"></a>
        <h5 class="text-light">usuario</h5>
  
        <% } else{ %>
      
        
        <a href="/registro/profile"><img src="/images/users/<%= usuario.avatar %>" alt="" width="50px" height="50px"
            class="rounded-circle avatar"></a>
            <h5 class="text-light"><%= usuario.nombre %></h5>
        <% } %>
      </div>
   
    
    
    
    
    </nav>  
    <!--caja de redes sociales-->
    <div class="redes">
      <a target="_BLANK" href="https://www.facebook.com/Pa-que-no-te-aburras-110244777466800/?modal=admin_todo_tour"><i class="fab fa-facebook-f"></i> </a>|
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> </a>|
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    </div>
    
    <!--buscador-->


    
    <div style="margin-left: 65px; margin-bottom: 15px;" class="buscador col-10">
    <form  action="/products/search" method="GET" class="search-form">
      <input type="text " name="search" placeholder="Buscar productos" class="search-form_input">
      <button type="submit" class="search-form_button"><i class="fas fa-search "></i></button>
    </form>
                
    </div>
    <!--carrito--> 
    
    <div class="carrito">
      
      <a href="/carrito"><i class="fas fa-shopping-basket"></i></i></a>
      
    </div>
    
  </div>   
  
</header>

<div class="tooltip">
  <span class="tooltiptext">Tooltip text</span>
</div>

<button onclick="topFunction()" id="myBtnTop" title="Ir arriba" > <img src="/images/icons/logoRosaIconoNavegador.png" alt="" > </button>

<script>
  //Get the button
  var mybutton = document.getElementById("myBtnTop");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>
  
  